<header>
    <div class="header-top-area">
        <div class="container">
            <div class="header-top">
                <ul>
                    <li>
                        <a>Miến phí ship cho đơn hàng trên 500k</a>
                    </li>
                    <li>
                        <a routerLink = '/cart'>Giỏ hàng</a>
                    </li>
                </ul>
                <ul>
                    <li *ngIf="!isLoggedIn" >
                        <a routerLink>
                            Tài khoản
                            <i class="lnr lnr-chevron-down"></i>
                        </a>
                        <!-- Dropdown Start -->
                        <ul class="ht-dropdown">
                            <li>
                                <a routerLink="/login">Đăng nhập</a>
                            </li>
                            <li>
                                <a routerLink="/signup">Đăng ký</a>
                            </li>
                        </ul>
                        <!-- Dropdown End -->
                    </li>
                    <li *ngIf="isLoggedIn" >
                        <a routerLink>
                            Hi {{user}}
                            <i class="lnr lnr-chevron-down"></i>
                        </a>
                        <!-- Dropdown Start -->
                        <ul class="ht-dropdown">
                            <li>
                                <a routerLink="/profile">Profile</a>
                            </li>
                            <li>
                                <a (click)="logout()">Đăng xuất</a>
                            </li>
                        </ul>
                        <!-- Dropdown End -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-middle ptb-15">
        <div class="container">
            <div class="row align-items-center no-gutters">
                <div class="col-lg-3 col-md-12">
                    <div class="logo mb-all-30">
                        <!-- <a routerLink>
                            <img
                                src="../../../assets/img/logo/logo.png"
                                alt="logo-image"
                            >
                        </a> -->
                    </div>
                </div>
                <!-- Categorie Search Box Start Here -->
                <div class="col-lg-5 col-md-8 ml-auto mr-auto col-10">
                    <div class="categorie-search-box">
                        <input
                                type="text"
                                name="search"
                                placeholder="Tìm kiếm..."
                                [(ngModel)]='searchText'
                            >
                            <button (click) ="onSearch()">
                                <i class="lnr lnr-magnifier"></i>
                            </button>
                    </div>
                </div>
                <!-- Categorie Search Box End Here -->
                <!-- Cart Box Start Here -->
                <div class="col-lg-4 col-md-12">
                    <div class="cart-box mt-all-30">
                        <ul class="d-flex justify-content-lg-end justify-content-center align-items-center">
                            <li class="cart-cus">
                                <a routerLink="/cart">
                                    <i class="lnr lnr-cart"></i>
                                    <span class="my-cart">
                                        <span class="total-pro" id="count">{{count}}</span>
                                        <span>Giỏ hàng</span>
                                    </span>
                                </a>

                            </li>


                            <li *ngIf="!isLoggedIn">
                                <a routerLink="login">
                                    <i class="lnr lnr-user"></i>
                                    <span class="my-cart">
                                        <span>
                                            <strong>Đăng nhập</strong>
                                            để
                                        </span>
                                        <span>tham gia</span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Cart Box End Here -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Middle End Here -->
    <!-- Header Bottom Start Here -->
    <div class="header-bottom  header-sticky">
        <div class="container">
            <div class="row align-items-center">
                <div class="e-header">
                    <nav class="d-none d-lg-block">
                        <ul class="header-bottom-list d-flex">
                            <li class="active">
                                <a routerLink>Trang chủ</a>
                            </li>
                            <li>
                                <a>
                                    Danh mục
                                    <i class="fa fa-angle-down"></i>
                                </a>
                                <!-- Home Version Dropdown Start -->
                                <ul class="ht-dropdown dropdown-style-two">
                                    <li *ngFor='let cate of listCate'>
                                        <a [routerLink]="['/products/'+ cate.id]">{{cate.name}}</a>
                                    </li>
                                </ul>
                                <!-- Home Version Dropdown End -->
                            </li>
                            <li>
                                <a routerLink="/about">Giới thiệu</a>
                            </li>
                            <li>
                                <a routerLink="/contact">Liên hệ</a>
                            </li>
                            <li *ngIf="isAdmin">
                                <a routerLink="/admin/home">Quản trị</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="mobile-menu d-block d-lg-none mean-container">
                        <div class="mean-bar">
                            <a
                                href="#nav"
                                class="meanmenu-reveal"
                                style="right: 0px; left: auto; text-align: center; text-indent: 0px; font-size: 18px;"
                                data-toggle="collapse"
                            >
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <nav
                                id="nav"
                                class="mean-nav collapse"
                            >
                                <ul>
                                    <!-- class="{{ isShowMenu ? 'showMenu' : 'hideMenu' }}" -->
                                    <li>
                                        <a href="index.html">home</a>
                                    </li>
                                    <li>
                                        <a href="shop.html">Categories</a>
                                        <!-- Mobile Menu Dropdown Start -->
                                        <ul
                                            id="nav_1"
                                            class="collapse"
                                        >
                                            <li>
                                                <a href="product.html">product details</a>
                                            </li>
                                            <li>
                                                <a href="compare.html">compare</a>
                                            </li>
                                            <li>
                                                <a href="cart.html">cart</a>
                                            </li>
                                            <li>
                                                <a href="checkout.html">checkout</a>
                                            </li>
                                            <li>
                                                <a href="wishlist.html">wishlist</a>
                                            </li>
                                        </ul>
                                        <!-- Mobile Menu Dropdown End -->
                                        <a
                                            class="mean-expand"
                                            href="#nav_1"
                                            style="font-size: 18px"
                                            data-toggle="collapse"
                                        >
                                            +
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                        <!-- Mobile Menu Dropdown Start -->
                                        <ul style="display: none;">
                                            <li>
                                                <a href="single-blog.html">blog details</a>
                                            </li>
                                        </ul>
                                        <!-- Mobile Menu Dropdown End -->
                                        <a
                                            class="mean-expand"
                                            routerLink
                                            style="font-size: 18px"
                                        >
                                            +
                                        </a>
                                    </li>
                                    <li>
                                        <a routerLink>pages</a>
                                        <!-- Mobile Menu Dropdown Start -->
                                        <ul style="display: none;">
                                            <li>
                                                <a routerLink="/signup">register</a>
                                            </li>
                                            <li>
                                                <a routerLink="/login">sign in</a>
                                            </li>
                                            <li>
                                                <a href="forgot-password.html">forgot password</a>
                                            </li>
                                            <li>
                                                <a href="404.html">404</a>
                                            </li>
                                        </ul>
                                        <!-- Mobile Menu Dropdown End -->
                                        <a
                                            class="mean-expand"
                                            routerLink
                                            style="font-size: 18px"
                                        >
                                            +
                                        </a>
                                    </li>
                                    <li>
                                        <a href="about.html">about us</a>
                                    </li>
                                    <li class="mean-last">
                                        <a href="contact.html">contact us</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="mean-push"></div>


                    </div>
                </div>
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Bottom End Here -->
</header>


<!-- Categorie Menu & Slider Area Start Here -->


<!-- Categorie Menu & Slider Area End Here -->
