.pt-100 {
    padding-top: 20px;
}
.single-product .pro-img a img{
  width: 226px;
  height: 226px;
}
.actions-primary a{
  cursor: pointer;
}
.owl-item a img{
  width: 133.8px;
  height: 133px;
}

.rate{
  color: rgb(253, 216, 53);
  font-size: 25px;
}
