<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li>
                    <a>Home</a>
                </li>
                <li>
                    <a>{{cateName}}</a>
                </li>
                <li class="active">
                    <a>{{detail.name}}</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>
<div class="main-product-thumbnail ptb-100 ptb-sm-60">
    <div class="container">
        <div class="thumb-bg">
            <div class="row">
                <!-- Main Thumbnail Image Start -->
                <div class="col-lg-5 mb-all-40">
                    <!-- Thumbnail Large Image start -->
                    <div class="tab-content">
                        <div id="thumb1" class="tab-pane fade show active">
                            <a data-fancybox="images" href="../../../../assets/img/products/35.jpg">
                                <img src="../../../../assets/images/{{detail.images[0]?.fileName}}" alt="product-view">
                            </a>
                        </div>
                        <!-- <div id="thumb2" class="tab-pane fade">
                            <a data-fancybox="images" href="../../../../assets/img/products\13.jpg">
                                <img src="../../../../assets/img/products\13.jpg" alt="product-view">
                            </a>
                        </div>
                        <div id="thumb3" class="tab-pane fade">
                            <a data-fancybox="images" href="../../../../assets/img/products\15.jpg">
                                <img src="../../../../assets/img/products\15.jpg" alt="product-view">
                            </a>
                        </div>
                        <div id="thumb4" class="tab-pane fade">
                            <a data-fancybox="images" href="../../../../assets/img/products\4.jpg">
                                <img src="../../../../assets/img/products\4.jpg" alt="product-view">
                            </a>
                        </div>
                        <div id="thumb5" class="tab-pane fade">
                            <a data-fancybox="images" href="../../../../assets/img/products\5.jpg">
                                <img src="../../../../assets/img/products\5.jpg" alt="product-view">
                            </a>
                        </div> -->
                    </div>
                    <!-- Thumbnail Large Image End -->
                    <!-- Thumbnail Image End -->
                    <div class="product-thumbnail mt-15">
                        <div class="thumb-menu owl-carousel nav tabs-area owl-loaded owl-drag" role="tablist">

                            <div class="owl-stage-outer">
                                <div class="owl-stage"
                                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 780px;">
                                    <div class="owl-item active" style="width: 140.833px; margin-right: 15px;">
                                        <a class="active" data-toggle="tab" href="#thumb1">
                                            <img src="../../../../assets/images/{{detail.images[0]?.fileName}}"
                                                alt="product-thumbnail">
                                        </a>
                                    </div>
                                    <div class="owl-item active" style="width: 140.833px; margin-right: 15px;">
                                        <a data-toggle="tab" href="#thumb2">
                                            <img src="../../../../assets/images/arduino_uno_r3.jpg"
                                                alt="product-thumbnail">
                                        </a>
                                    </div>
                                    <div class="owl-item active" style="width: 140.833px; margin-right: 15px;">
                                        <a data-toggle="tab" href="#thumb3">
                                            <img src="../../../../assets/images/arduino_sensor_shield_v5.0.jpg"
                                                alt="product-thumbnail">
                                        </a>
                                    </div>
                                    <div class="owl-item active" style="width: 140.833px; margin-right: 15px;">
                                        <a data-toggle="tab" href="#thumb4">
                                            <img src="../../../../assets/img/products\4.jpg" alt="product-thumbnail">
                                        </a>
                                    </div>
                                    <div class="owl-item" style="width: 140.833px; margin-right: 15px;">
                                        <a data-toggle="tab" href="#thumb5">
                                            <img src="../../../../assets/img/products\5.jpg" alt="product-thumbnail">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="owl-nav">
                                <div class="owl-prev disabled">
                                    <i class="lnr lnr-arrow-left"></i>
                                </div>
                                <div class="owl-next">
                                    <i class="lnr lnr-arrow-right"></i>
                                </div>
                            </div>
                            <div class="owl-dots disabled"></div>
                        </div>
                    </div>
                    <!-- Thumbnail image end -->
                </div>
                <!-- Main Thumbnail Image End -->
                <!-- Thumbnail Description Start -->
                <div class="col-lg-7">
                    <div class="thubnail-desc fix">
                        <h3 class="product-header">{{detail.name}}</h3>
                        <div class="rating-summary fix mtb-10">
                            <div class="rating">
                              <ngb-rating class="rate" [max]="5" [(rate)]="currentRate" [readonly]="true"></ngb-rating>
                            </div>
                            <div class="rating-feedback">
                                <a href="#">(1 đánh giá)</a>
                                <a href="#">Thêm đánh giá của bạn</a>
                            </div>
                        </div>
                        <div class="pro-price mtb-30">
                            <p class="d-flex align-items-center">
                                <span class="prev-price">{{detail.oldPrice}}</span>
                                <span class="price">{{detail.newPrice | currency : 'VND'}} VND</span>
                                <span class="saving-price">Tiết kiệm 8%</span>
                            </p>
                        </div>
                        <p class="mb-20 pro-desc-details">
                            {{detail.description}}
                        </p>
                        <!-- <div class="product-size mb-20 clearfix">
                            <label>Size</label>
                            <select
                                class
                                style="display: none;"
                            >
                                <option>S</option>
                                <option>M</option>
                                <option>L</option>
                            </select>
                            <div
                                class="nice-select"
                                tabindex="0"
                            >
                                <span class="current">S</span>
                                <ul class="list">
                                    <li
                                        data-value="S"
                                        class="option selected"
                                    >
                                        S
                                    </li>
                                    <li
                                        data-value="M"
                                        class="option"
                                    >
                                        M
                                    </li>
                                    <li
                                        data-value="L"
                                        class="option"
                                    >
                                        L
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- <div class="color clearfix mb-20">
                            <label>color</label>
                            <ul class="color-list">
                                <li>
                                    <a
                                        class="orange active"
                                        href="#"
                                    ></a>
                                </li>
                                <li>
                                    <a
                                        class="paste"
                                        href="#"
                                    ></a>
                                </li>
                            </ul>
                        </div> -->
                        <div class="box-quantity d-flex hot-product2">
                            <form action="#">
                                <input class="quantity mr-15" type="number" min="1" value="1">
                            </form>
                            <div class="pro-actions">
                                <div class="actions-primary">
                                    <a title data-original-title="Add to Cart">
                                        + Thêm vào giỏ hàng
                                    </a>
                                </div>

                            </div>
                        </div>
                        <div class="pro-ref mt-20">
                            <p>
                                <span class="in-stock">
                                    <i class="ion-checkmark-round"></i>
                                    Còn hàng
                                </span>
                            </p>
                        </div>
                        <div class="socila-sharing mt-25">
                            <ul class="d-flex">
                                <li>Chia sẻ</li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus-official" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Thumbnail Description End -->
            </div>
            <!-- Row End -->
        </div>
    </div>
    <!-- Container End -->
</div>

<!-- description -->
<div class="thumnail-desc pb-100 pb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="main-thumb-desc nav tabs-area" role="tablist">
                    <li>
                        <a class="active" data-toggle="tab" href="#dtail">
                            Chi tiết sản phẩm
                        </a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#review" class>
                            Đánh giá
                        </a>
                    </li>
                </ul>
                <!-- Product Thumbnail Tab Content Start -->
                <div class="tab-content thumb-content border-default">
                    <div id="dtail" class="tab-pane fade active show">
                        <p>
                            <!-- {{detail.content}} -->
                            <ckeditor [(ngModel)]="detail.content" name="content"></ckeditor>
                        </p>
                    </div>
                    <div id="review" class="tab-pane fade">
                        <!-- Reviews Start -->
                        <div class="review border-default universal-padding">
                            <div class="group-title">
                                <h2>Dinh Quang Duy</h2>
                            </div>
                            <h4 class="review-mini-title"></h4>
                            <!-- <ul class="review-list"> -->
                                <!-- <li>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star-o"></i>
                                    <label>Posted on 20/11/2020</label>
                                </li> -->
                                <!-- Single Review List End -->
                            <!-- </ul> -->
                            <ngb-rating [max]="5" [(rate)]="currentRate"></ngb-rating>
                        </div>
                        <!-- Reviews End -->
                    </div>
                </div>
                <!-- Product Thumbnail Tab Content End -->
            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>

<div class="hot-deal-products off-white-bg pt-100 pb-90 pt-sm-60 pb-sm-50">
    <div class="container" style="min-width: 1200px;">
        <!-- Product Title Start -->
        <div class="post-title pb-30">
            <h2>Sản phẩm liên quan</h2>
        </div>
        <!-- Product Title End -->
        <!-- Hot Deal Product Activation Start -->
        <div class="hot-deal-active owl-carousel owl-loaded owl-drag">
            <!-- Single Product Start -->

            <!-- Single Product End -->
            <div class="owl-stage-outer">
                <div class="owl-stage"
                    style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1888px;">
                    <ng-container *ngFor="let item of listProductSemilar" >

                      <div class="owl-item active" style="width: 226px; margin-right: 10px;">
                          <div class="single-product">
                              <!-- Product Image Start -->
                              <div class="pro-img">
                                  <a href="product.html">
                                      <img class="primary-img" src="../../../../assets/images/{{item.images[0]?.fileName}}" alt="single-product">

                                  </a>
                                  <a href="#" class="quick_view" data-toggle="modal" data-target="#myModal" title=""
                                      data-original-title="Quick View"><i class="lnr lnr-magnifier"></i></a>
                              </div>
                              <!-- Product Image End -->
                              <!-- Product Content Start -->
                              <div class="pro-content">
                                  <div class="pro-info">
                                      <h4><a >{{item.name}}</a></h4>
                                      <p><span class="price">{{item.newPrice}}</span></p>
                                  </div>
                                  <div class="pro-actions">
                                      <div class="actions-primary">
                                          <a title="" data-original-title="Add to Cart" type="button"> + Thêm vào giỏ hàng</a>
                                      </div>

                                  </div>
                              </div>

                          </div>
                      </div>
                    </ng-container>

                </div>
            </div>
            <div class="owl-nav">
                <div class="owl-prev disabled"><i class="lnr lnr-arrow-left"></i></div>
                <div class="owl-next"><i class="lnr lnr-arrow-right"></i></div>
            </div>
            <div class="owl-dots disabled"></div>
        </div>
        <!-- Hot Deal Product Active End -->

    </div>
    <!-- Container End -->
</div>
