<div class="breadcrumb-area mt-30">
  <div class="container">
      <div class="breadcrumb">
          <ul class="d-flex align-items-center">
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li class="active">
                  <a href="product.html">{{cateName}}</a>
              </li>
          </ul>
      </div>
  </div>
  <!-- Container End -->
</div>
<div class="main-shop-page pt-10  ptb-sm-60">
  <div class="container">
      <!-- Row End -->
      <div class="row">
          <!-- Sidebar Shopping Option Start -->
          <!-- <div class="col-lg-3 order-2 order-lg-1">
              <div class="sidebar">
                  <div class="row row-left-header">
                      <h2 class="hot-product">
                          <a
                              href="san-pham-hot"
                              title="Mới ra mắt"
                          >
                              Sản phẩm hot
                          </a>
                      </h2>
                  </div>
                  <div class="row row-left-content">
                      <div class="item-hot" *ngFor= 'let hot of productRecommend'>
                          <div class="product-image">
                              <a [routerLink]="['/product-detail/' + hot.id]">
                                  <img src="../../../assets/images/{{hot.images[0].fileName}}" alt="" >
                              </a>
                          </div>
                          <div class="product-content">
                              <a href>{{hot.name}}</a>
                              <div
                                  _ngcontent-bsa-c114
                                  class="rating"
                              >
                              <ngb-rating class="rate" [max]="5" [(rate)]="hot.rating" [readonly]="true"></ngb-rating>
                              </div>
                              <div class="newPrice">{{hot.newPrice| pipeFormat}}</div>
                          </div>
                      </div>
                  </div>
              </div>
          </div> -->
          <!-- Sidebar Shopping Option End -->
          <!-- Product Categorie List Start -->
          <div class="col-lg-9 order-1 order-lg-2">
              <!-- Grid & List View Start -->
              <div class="grid-list-top border-default universal-padding d-md-flex justify-content-md-between align-items-center mb-30">
                  <div class="grid-list-view  mb-sm-15">
                      <ul class="nav tabs-area d-flex align-items-center">
                          <li>
                              <a
                                  class="active"
                                  data-toggle="tab"
                                  href="#grid-view"
                              >
                                  <i class="fa fa-th"></i>
                              </a>
                          </li>
                          <li>
                              <a
                                  data-toggle="tab"
                                  href="#list-view"
                              >
                                  <i class="fa fa-list-ul"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
                  <!-- Toolbar Short Area Start -->
                  <div class="main-toolbar-sorter clearfix">
                      <div class="toolbar-sorter d-flex align-items-center">
                          <label>Sắp xếp theo:</label>
                          <select
                              class="sorter wide"
                              style="display: none; width: 160px;"
                          >
                              <option value="0">Có liên quan</option>
                              <option value="1">Theo tên, A đến Z</option>
                              <option value="2">Theo tên, Z đến A</option>
                              <option value="3">Giá thấp đến cao</option>
                              <option
                                  value="4"
                              >
                                  Giá cao đến thấp
                              </option>
                          </select>
                          <div
                              class="nice-select sorter wide"
                              tabindex="0"
                              style="width: 160px;"
                          >
                              <span class="current">Giá cao đến thấp</span>
                              <ul class="list">

                                  <li
                                      data-value="Product Name"
                                      class="option"
                                      (click)="onChangeNameASC()"
                                  >
                                      Theo tên, A đến Z
                                  </li>
                                  <li
                                      data-value="Product Name"
                                      class="option"
                                      (click)="onChangeNameDESC()"
                                  >
                                      Theo tên, Z đến A
                                  </li>
                                  <li
                                      data-value="Price"
                                      class="option"
                                      (click)="onChangePriceASC()"
                                  >
                                      Giá thấp đến cao
                                  </li>
                                  <li
                                      data-value="Price"
                                      class="option selected"
                                      (click)="onChangePriceDESC()"
                                  >
                                      Giá cao đến thấp
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <!-- Toolbar Short Area End -->


                  <!-- Toolbar Short Area End -->
              </div>
              <!-- Grid & List View End -->
              <div class="main-categorie mb-all-40">
                  <!-- Grid & List Main Area End -->
                  <div class="tab-content fix">
                      <div
                          id="grid-view"
                          class="tab-pane fade show active"
                      >
                          <div class="row">
                              <!-- Single Product Start -->
                              <div
                                  class="col-lg-4 col-md-4 col-sm-6 col-6"
                                  *ngFor='let product of listSearch'
                              >
                                  <div class="single-product">
                                      <!-- Product Image Start -->
                                      <div class="pro-img">
                                          <a [routerLink]="['/product-detail/'+product.id ]">
                                              <img

                                                  class="primary-img"
                                                  src="../../../assets/images/{{product.images[0]?.fileName}}"
                                                  alt="single-product"
                                              >
                                              <img   class="secondary-img" src="../../../assets/images/{{product.images[1]?.fileName}}" alt="single-product">
                                          </a>
                                          <a
                                              href="#"
                                              class="quick_view"
                                              data-toggle="modal"
                                              data-target="#myModal"
                                              title
                                              data-original-title="Quick View"
                                          >
                                              <i class="lnr lnr-magnifier"></i>
                                          </a>
                                      </div>
                                      <!-- Product Image End -->
                                      <!-- Product Content Start -->
                                      <div class="pro-content">
                                          <div class="pro-info">
                                              <h4>
                                                  <a [routerLink]="['/'+product.id+'/product-detail']">{{product.name}}</a>
                                              </h4>
                                              <p>
                                                  <span class="price">{{product.newPrice | pipeFormat}}</span>
                                                  <del class="prev-price">{{product.oldPrice| pipeFormat}}</del>
                                              </p>
                                              <!-- <div class="label-product l_sale">
                                                  30
                                                  <span class="symbol-percent">%</span>
                                              </div> -->
                                          </div>
                                          <div class="pro-actions">
                                              <div class="actions-primary">
                                                  <a
                                                      (click)="addtocart(product.id)"
                                                      title
                                                      data-original-title="Thêm vào giỏ hàng"
                                                      class="addcart"
                                                  >
                                                      + Thêm vào giỏ hàng
                                                  </a>
                                              </div>
                                              <div class="actions-secondary"></div>
                                          </div>
                                      </div>
                                      <!-- Product Content End -->
                                  </div>
                              </div>
                              <!-- Single Product End -->
                          </div>
                          <!-- Row End -->
                      </div>
                      <!-- #grid view End -->
                      <div
                          id="list-view"
                          class="tab-pane fade"
                      >
                          <!-- Single Product Start -->
                          <div
                              class="single-product"
                              *ngFor='let product of listProduct'
                          >
                              <div class="row">
                                  <!-- Product Image Start -->
                                  <div class="col-lg-4 col-md-5 col-sm-12">
                                      <div class="pro-img">
                                          <a [routerLink]="['/product-detail/'+product.id ]">
                                              <img

                                                  class="primary-img"
                                                  src="../../../assets/images/{{product.images[0]?.fileName}}"
                                                  alt="single-product"
                                              >


                                          </a>
                                          <a
                                              href="#"
                                              class="quick_view"
                                              data-toggle="modal"
                                              data-target="#myModal"
                                              title
                                              data-original-title="Quick View"
                                          >
                                              <i class="lnr lnr-magnifier"></i>
                                          </a>
                                          <span class="sticker-new">new</span>
                                      </div>
                                  </div>
                                  <!-- Product Image End -->
                                  <!-- Product Content Start -->
                                  <div class="col-lg-8 col-md-7 col-sm-12">
                                      <div class="pro-content hot-product2">
                                          <h4>
                                              <a [routerLink]="['/product-detail/'+product.id ]">{{product.name}}</a>
                                          </h4>


                                          <p>
                                              <span class="price">{{product.newPrice| pipeFormat}}</span>
                                              <del class="prev-price">{{product.oldPrice| pipeFormat}}</del>
                                          </p>
                                          <p>{{product.description}}</p>
                                          <div class="pro-actions">
                                              <div class="actions-primary">
                                                  <a
                                                      (click)="addtocart(product.id)"
                                                      class="addcart"
                                                      title
                                                      data-original-title="Thêm vào giỏ hàng"
                                                  >
                                                      + Thêm vào giỏ hàng
                                                  </a>
                                              </div>


                                          </div>
                                      </div>
                                  </div>
                                  <!-- Product Content End -->
                              </div>
                          </div>
                          <!-- Single Product End -->
                      </div>


                  </div>
                  <!-- Grid & List Main Area End -->
              </div>
          </div>
          <!-- product Categorie List End -->
      </div>
      <!-- Row End -->
  </div>
  <!-- Container End -->
</div>
