<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">
                    <a href="checkout.html">Checkout</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Container End -->
</div>

<div class="checkout-area pb-100 pt-15 pb-sm-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="checkbox-form mb-sm-40">
                    <h3>Nhập thông tin</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <div class="country-select clearfix mb-30">
                                <label>
                                    Nhập họ
                                    <span class="required">*</span>
                                </label>

                            </div> -->
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list mtb-30">
                                <label>
                                    Nhập tên
                                    <span class="required">*</span>
                                </label>
                                <input
                                    type="text"
                                    placeholder="Họ và tên"
                                    name="name"
                                    [(ngModel)] = "dataOrder.customerName"
                                >
                            </div>
                        </div>
                        <!-- <div class="col-md-12">
                            <div class="checkout-form-list mb-30">
                                <label>Company Name</label>
                                <input
                                    type="text"
                                    placeholder
                                >
                            </div>
                        </div> -->

                        <!-- <div class="col-md-12">
                            <div class="checkout-form-list mtb-30">
                                <input
                                    type="text"
                                    placeholder="Apartment, suite, unit etc. (optional)"
                                >
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="checkout-form-list mb-30">
                                <label>
                                    Số điện thoại
                                    <span class="required">*</span>
                                </label>
                                <input
                                    type="text"
                                    placeholder="Số điện thoại"
                                    name="phone"
                                    [(ngModel)] = "dataOrder.customerPhone"
                                >
                            </div>
                        </div>
                        <!-- <div class="col-md-6">
                            <div class="checkout-form-list mb-30">
                                <label>
                                    State / County
                                    <span class="required">*</span>
                                </label>
                                <input
                                    type="text"
                                    placeholder
                                >
                            </div>
                        </div> -->
                        <!-- <div class="col-md-6">
                            <div class="checkout-form-list mb-30">
                                <label>
                                    Postcode / Zip
                                    <span class="required">*</span>
                                </label>
                                <input
                                    type="text"
                                    placeholder="Postcode / Zip"
                                >
                            </div>
                        </div> -->
                        <div class="col-md-12">
                            <div class="checkout-form-list mb-30">
                                <label>
                                    Email
                                    <span class="required">*</span>
                                </label>
                                <input
                                    type="email"
                                    placeholder="Email"
                                    name="email"
                                    [(ngModel)] = "dataOrder.customerEmail"
                                >
                            </div>
                        </div>

                        <!-- <div class="col-md-12">
                            <div class="checkout-form-list mb-30">
                                <label>
                                    Tỉnh/Thành Phố
                                    <span class="required">*</span>
                                </label>
                                <select class="form-control">
                                    <option value="">Chọn Tỉnh</option>
                                </select>
                            </div>
                        </div> -->

                        <!-- <div class="col-md-12">
                          <div class="checkout-form-list mb-30">
                            <label>
                                Quận/Huyện
                                <span class="required">*</span>
                            </label>
                            <select class="form-control">
                                <option value="">Chọn Huyện</option>
                            </select>
                        </div>

                        <div class="checkout-form-list mb-30">
                          <label>
                              Xã/Phường
                              <span class="required">*</span>
                          </label>
                          <select class="form-control">
                              <option value="">aaaaaaaaa</option>
                          </select>
                      </div> -->

                        <!-- </div> -->
                        <div class="col-md-12">
                          <div class="checkout-form-list mtb-30">
                              <label>
                                  Địa chỉ
                                  <span class="required">*</span>
                              </label>
                              <input
                                  type="text"
                                  placeholder="Địa chỉ"
                                  name="address"
                                  [(ngModel)] = "dataOrder.customerAddress"
                              >
                          </div>
                      </div>
                        <div class="row"></div>
                        <!-- <div class="col-md-6">
                            <div class="checkout-form-list mb-30">
                                <label>
                                    Phone
                                    <span class="required">*</span>
                                </label>
                                <input
                                    type="text"
                                    placeholder="Postcode / Zip"
                                >
                            </div>
                        </div> -->

                    </div>
                    <div class="different-address">
                        <div class="order-notes">
                            <div class="checkout-form-list">
                                <label>Thông tin bổ sung</label>
                                <textarea
                                    id="checkout-mess"
                                    cols="30"
                                    rows="10"
                                    placeholder="Ghi chú thời gian hay địa chỉ nhận hàng chi tiết hơn."
                                    name="orther"
                                    [(ngModel)] = "dataOrder.customerMassage"
                                ></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="your-order">
                    <h3>Đơn hàng của bạn</h3>
                    <div class="your-order-table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">Sản phẩm</th>
                                    <th class="product-total">Giá</th>
                                </tr>
                            </thead>
                            <tbody>
                              <ng-container *ngFor="let item of dataOrder.orderDetails" >

                                <tr class="cart_item">
                                    <td class="product-name">
                                        {{item.name}}
                                        <span class="product-quantity">× {{item.quantity}}</span>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount">{{item.totalPrice | pipeFormat}}</span>
                                    </td>
                                </tr>
                              </ng-container>

                            </tbody>
                            <tfoot>
                                <tr class="cart-subtotal">
                                    <th>Tạm tính</th>
                                    <td>
                                        <span class="amount">{{dataOrder.totalPrice | pipeFormat}}</span>
                                    </td>
                                </tr>
                                <tr class="order-total">
                                    <th>Thành tiền</th>
                                    <td>
                                        <span class=" total amount">{{dataOrder.totalPrice | pipeFormat}}</span>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="payment-method">
                        <div id="accordion">
                            <div class="card">
                                <div
                                    class="card-header"
                                    id="headingone"
                                >
                                    <h5 class="mb-0">
                                      <input type="radio" checked="isClickShioCOD" style="margin-left: 10px;">
                                        <button
                                            class="btn btn-link"
                                            data-toggle="collapse"
                                            data-target="#collapseOne"
                                            aria-expanded="true"
                                            aria-controls="collapseOne"
                                        >
                                            Trả tiền khi nhận hàng
                                        </button>
                                    </h5>
                                </div>

                                <div
                                    id="collapseOne"
                                    class="collapse show"
                                    aria-labelledby="headingone"
                                    data-parent="#accordion"
                                >
                                    <div class="card-body">
                                      <p>THANH TOÁN KHI NHẬN HÀNG (C.O.D), đơn giản, tiện lợi! Chưa bao gồm phí giao hàng</p>
                                      <p>+ Phí Giao Hàng:</p>
                                      <p>► Đà Nẵng: Giao hàng ngay trong nội thành, phí ship từ 20.000đ đến 30.000đ/đơn hàng (tùy khu vực)</p>
                                      <p>► Ship TOÀN QUỐC: 50.000đ/đơn hàng, bất kể số lượng.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card">
                                <div
                                    class="card-header"
                                    id="headingtwo"
                                >
                                    <h5 class="mb-0">
                                        <button
                                            class="btn btn-link collapsed"
                                            data-toggle="collapse"
                                            data-target="#collapseTwo"
                                            aria-expanded="false"
                                            aria-controls="collapseTwo"
                                        >
                                            Cheque Payment
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    id="collapseTwo"
                                    class="collapse"
                                    aria-labelledby="headingtwo"
                                    data-parent="#accordion"
                                >
                                    <div class="card-body">
                                        <p>
                                            Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                                        </p>
                                    </div>
                                </div>
                            </div> -->
                            <div class="card">
                                <div
                                    class="card-header"
                                    id="headingthree"
                                >
                                    <h5 class="mb-0">
                                      <input type="radio" disabled style="margin-left: 10px;">
                                        <button
                                            class="btn btn-link collapsed"

                                        >
                                        <!-- data-toggle="collapse"
                                            data-target="#collapseThree"
                                            aria-expanded="false"
                                            aria-controls="collapseThree" -->
                                            Thanh toán online
                                        </button>
                                    </h5>
                                </div>
                                <div
                                    id="collapseThree"
                                    class="collapse"
                                    aria-labelledby="headingthree"
                                    data-parent="#accordion"
                                >
                                    <div class="card-body">
                                        <p>
                                            Thanh toán thông qua cổng thanh toán paypal
                                        </p>
                                    </div>
                                </div>
                            </div>

                             <div class="">
                                <div
                                    class=""
                                    id="headingtwo"
                                >
                                    <h5 class="mb-0 wc-proceed-to-checkout">
                                        <button
                                            class="btn btn-link"
                                            (click)="addOrder()"
                                        >
                                            Đặt hàng
                                        </button>
                                    </h5>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
