@import '../../../styles.css';
.container{
  max-width: 1200px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 350px;
}
.carousel {
  width: 70%;
  margin: auto;
}
.single-product .pro-img a img{
  height: 226px;
  width: 226px;
}
.arrivals-product{
  background: #EEEEEE;
}

.carousel-inner{
  width: 78.5%!important;
  margin: auto !important;
  margin-bottom: 5px !important;
}

.hot-deal-products{
  padding-top: 10px;
}

.cusor{
  cursor: pointer;
}
