<div class="container">
    <div class="caption">
        <h2>Danh mục sản phẩm</h2>
    </div>
    <div class="div2">
        <a href="" type="button" class="btn-add" data-toggle="modal" data-target="#modalAdd">
            <i class="fa fa-check"></i>
            Thêm danh mục
        </a>
          <input type="search" class="search" placeholder="Tìm kiếm danh mục">
    </div>
    <div class="table-container">
        <table class="table">
            <thead class="thead">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tên danh mục</th>
                <th scope="col">Hình ảnh</th>
                <th scope="col">Mô tả</th>
                <th scope="col">Xem sản phẩm</th>
                <th scope="col">Công cụ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = 'let cate of listCate; let i = index'>
                <td scope="row">{{i+1}}</td>
                <td>{{cate.name}}</td>
                <td><img src="{{cate.image}}" alt=""></td>
                <td>{{cate.description}}</td>
                <td><a [routerLinkActive]="['router-link-active']" [routerLink]="['/admin/' + cate.id + '/products']" type="button" class="btn-list"><i class="fa fa-th-list"></i>Xem</a></td>
                <td>
                    <ul>
                        <li><a  type="button" class="btn-edit" data-toggle="modal" data-target="#modalEdit"><i class="fa fa-w fa-edit"></i></a></li>
                        <li><a  type="button" class="btn-delete" data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash-o"></i></a></li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
<div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Thêm danh mục</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form novalidate>
              <div class="form-group">
                <label>Tên danh mục</label>
                <input type="text" class="form-control" name="name" [(ngModel)]="dataCate.name">
              </div>    
              <div class="form-group">
                <label>Tên khác</label>
                <input type="text" class="form-control" name="alias" [(ngModel)]="dataCate.alias">
              </div> 
              <div class="form-group">
                <label>Mô tả</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="dataCate.description">
              </div>
              <div class="form-group">
                <label>Hình ảnh</label>
                <input type="file" class="form-control"  #fileInput  (change)="onChangeFile()">
              </div>      
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="addCate()">Thêm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Chỉnh sửa tên danh mục</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form novalidate>
              <div class="form-group">
                <label>Tên danh mục</label>
                <input type="text" class="form-control">
              </div> 
              <div class="form-group">
                <label>Tên khác</label>
                <input type="text" class="form-control" name="alias" [(ngModel)]="dataCate.alias">
              </div> 
              <div class="form-group">
                <label>Mô tả</label>
                <input type="text" class="form-control" name="description" [(ngModel)]="dataCate.description">
              </div>
              <div class="form-group">
                <label>Hình ảnh</label>
                <input type="file" class="form-control"  #fileInput  (change)="onChangeFile()">
              </div>            
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="update()">Sửa</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLongTitle">Bạn có muốn xóa danh mục này không</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body popup">
          <img class="question" src="../../../assets/chamhoi.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>