<div class="container">
  <div class="container_left">
    <h3 class="left">Products</h3>
    <form class="form1">
      <button class="btn btn-add" data-toggle="modal" data-target="#modalAdd"><i class="fa fa-check"></i>Thêm sản
        phẩm</button>
      <div class="right">
        <input type="search" class="search" placeholder="Tìm kiếm danh mục">
        <label for="">filter by: </label>
        <select name="" id="">
          <option value="">all</option>
        </select>
      </div>
    </form>

    <div class="table">
      <table class="">
        <thead class="thead">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tên sản phẩm</th>
            <th scope="col">Hình ảnh</th>
            <th scope="col">Số lượng</th>
            <th>Giá mới</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Arduino</td>
            <td><img src="../../../assets/img/products/1.jpg" alt=""></td>
            <td>10</td>
            <td>300$</td>
            <td>
              <ul>
                <li><a type="button" class="btn-edit" data-toggle="modal" data-target="#modalEdit"><i
                      class="fa fa-w fa-edit"></i>Chỉnh sửa</a></li>
                <li><a type="button" class="btn-delete" data-toggle="modal" data-target="#modalDelete"><i
                      class="fa fa-th-list"></i>Xóa</a></li>
                <!-- <li><a href="" type="button" class="btn-list"><i class="fa fa-th-list"></i></a></li> -->
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Arduino</td>
            <td><img src="../../../assets/img/products/1.jpg" alt=""></td>
            <td>10</td>
            <td>300$</td>
            <td>
              <ul>
                <li><a type="button" class="btn-edit" data-toggle="modal" data-target="#modalEdit"><i
                      class="fa fa-w fa-edit"></i>Chỉnh sửa</a></li>
                <li><a type="button" class="btn-delete" data-toggle="modal" data-target="#modalDelete"><i
                      class="fa fa-th-list"></i>Xóa</a></li>
                <!-- <li><a href="" type="button" class="btn-list"><i class="fa fa-th-list"></i></a></li> -->
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">1</th>
            <td>Arduino</td>
            <td><img src="../../../assets/img/products/1.jpg" alt=""></td>
            <td>10</td>
            <td>300$</td>
            <td>
              <ul>
                <li><a type="button" class="btn-edit" data-toggle="modal" data-target="#modalEdit"><i
                      class="fa fa-w fa-edit"></i>Chỉnh sửa</a></li>
                <li><a type="button" class="btn-delete" data-toggle="modal" data-target="#modalDelete"><i
                      class="fa fa-th-list"></i>Xóa</a></li>
                <!-- <li><a href="" type="button" class="btn-list"><i class="fa fa-th-list"></i></a></li> -->
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container-right">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form novalidate>
            <div class="form-group">
              <label>Tên sản phẩm</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Hình ảnh</label>
              <input type="file" class="form-control" multiple>
            </div>
            <div class="form-group">
              <label>Số lượng</label>
              <input type="number" class="form-control">
            </div>
            <div class="form-group">
              <label>Nội dung</label>
              <ckeditor [editor]="Editor"></ckeditor>
            </div>
            <div class="form-group">
              <label>Giá mới</label>
              <input type="number" class="form-control">
            </div>
            <div class="form-group">
              <label>Giá cũ</label>
              <input type="number" class="form-control">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary">Thêm</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="modal fade" id="modalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate>
          <div class="form-group">
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Hình ảnh</label>
            <input type="file" class="form-control" multiple>
          </div>
          <div class="form-group">
            <label>Số lượng</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group">
            <label>Nội dung</label>
            <ckeditor [editor]="Editor"></ckeditor>
          </div>
          <div class="form-group">
            <label>Giá mới</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group">
            <label>Giá cũ</label>
            <input type="number" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Thêm</button>
      </div>
    </div>
  </div>
</div> -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Thêm sản phẩm</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate>
          <div class="form-group">
            <label>Tên sản phẩm</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Hình ảnh</label>
            <input type="file" class="form-control" multiple>
          </div>
          <div class="form-group">
            <label>Số lượng</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group">
            <label>Nội dung</label>
            <ckeditor [editor]="Editor"></ckeditor>
          </div>
          <div class="form-group">
            <label>Giá mới</label>
            <input type="number" class="form-control">
          </div>
          <div class="form-group">
            <label>Giá cũ</label>
            <input type="number" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Thêm</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Bạn có muốn xóa sản phẩm này không</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body popup">
        <img class="question" src="../../../assets/chamhoi.jpg" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary">Xóa</button>
      </div>
    </div>
  </div>
</div>