.form1{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 10px;
}
.search{
    margin-right: 20px;
    outline: none;
    border-radius: 50px;
    background-color: darkgray;
    border: 1px solid darkgray;
    padding: 5px 10px;
}
select{
    border:none;
}
.container{
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    width: auto;
    border-radius: 10px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
}
.container{
    /* display: flex; */
    justify-content: space-between;
}
thead{
    background-color: rgb(248,248,248);
    border-radius: 2px;
    color: rgb(157, 155, 155);
}
.table thead th {
    vertical-align: bottom;
    /* border-bottom: 2px solid #dee2e6; */
    border-bottom: none !important;
}
tbody{
    color: rgb(157, 155, 155);
}
tr{
    border: none;
}
.btn-edit{
    border: 1px solid rgb(6, 107, 230);
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(6, 107, 230);
    color: white;
}
/* .btn-edit{
    border: 1px solid rgb(93, 255, 90);
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(93, 255, 90);
    color: white;
} */
.btn-infor{
    border: 1px solid rgb(93, 255, 90);
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(93, 255, 90);
    color: white;
}
ul li .btn-infor:hover{
    border: green;
    background-color: green;
}
.btn-edit:hover{
    border: rgb(6, 6, 189);
    background-color: rgb(6, 6, 189);
}
ul li .btn-delete:hover{
    border: red;
    background-color: red;
}
/* ul li .btn-edit:hover{
    border: green;
    background-color: green;
} */
.btn-delete{
    border: 1px solid rgb(255, 95, 50);
    border-radius: 3px;
    padding: 3px;
    background-color: rgb(255, 95, 50);
    color: white;
}
.fa{
    margin-right: 6px;
}
td a{
    text-decoration: none;
    color: white !important;
}
td ul{
    margin-bottom: 0px !important;
    padding-left: initial;
}
td ul li{
    display: inline-block;
    padding-right: 5px;
    list-style-type: none;
}
img{
    width: 50px;
    height: 50px;
}
.table{
    padding-bottom: 30px;
}
table{
    width: inherit;
}
.btn-add{
    border: 1px solid rgb(6, 107, 230);
    padding: 5px;
    color: white;
    background-color: rgb(6, 107, 230);
    border-radius: 3px;
    text-decoration: none;
}
.btn-add:hover{
    background-color: rgb(6, 6, 189);
}  
.modal-dialog{
    padding-top: 30px;
}
.modal-header{
    margin-top: 0!important;
    background-color: rgb(6, 107, 230);
    color: white;
    font-size: large;
    font-weight: bold;
    height: 60px !important;
}
.modal input{
    height: 30px;
}
.question{
    width: 100px;
    height: 100px;
}
.popup{
    text-align: center;
}
.modal-footer .btn+.btn {
    margin-bottom: 3px;
    margin-left: 5px;
}
.modal-body{
    margin-top: 0 !important;
}
.btn{
    font-size: initial;
}

.form-control{
    height: inherit !important;
}
.container-right{
    display: none;
    transition: 2s;
}