<div class="breadcrumb-area mt-30">
  <div class="container">
      <div class="breadcrumb">
          <ul class="d-flex align-items-center">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="about.html">About Us</a></li>
          </ul>
      </div>
  </div>
  <!-- Container End -->
</div>

<div class="about-us pt-30 mb-30 pt-sm-60">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="sidebar-img mb-all-30">
                  <img src="../../../assets/images/contact.jpg" alt="single-blog-img">
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-desc">
                  <h3 class="mb-10 about-title">Mini Shop</h3>
                  <p class="mb-20">Xin chào các bạn, thành lập và hoạt động từ đầu 2020, Linh kiện điện tử Mini Shop là đại diện tập thể anh chị em chúng tôi</p>
                  <p class="mb-20">Chúng tôi tự hào là nơi cung cấp linh kiện cho mọi người trong trên toàn quốc</p>
                  <p class="mb-20">Để biết thêm chi tiết, vui lòng liên hệ với chúng tôi thông qua địa chỉ email: minishop@gmail.com hoặc số điện thoại: 0977694163 để biết thêm thông tin</p>
                  <p></p>
              </div>
          </div>
      </div>
  </div>
  <!-- Container End -->
</div>
