.invalid {
    border: 1px solid #E62E04;
  }
  input{
      margin-bottom: 0 !important;
  }
  .col-md-12{
      margin-bottom: 20px;
  }
  .text-danger{
      margin-top: 0.25rem;
  }
  .footer-content{
      margin-left: 28px;;
  }
  .has-danger .form-control {
    border-color: #d9534f;
  }
  .has-success .form-control {
    border-color: #5cb85c;
  }