<div class="div-caption">
    
    <h4 class="caption"><i class="fa fa-list"></i>Hoạt động hôm nay</h4>
</div>
<div class="detail">
    <div class="item item1">
        <div>
            <i class="fa fa-money"></i>
        </div>
        <div>
            <span>Tiền bán hàng</span><br>
            <span>200.000.000 VND</span>
        </div>
    </div>
    <div class="item item2">
        <div>
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div>
            <span>Số đơn hàng : 6</span><br>
            <span>Số sản phẩm : 20</span>
        </div>
    </div>
    <div class="item item3">
        <div>
            <i class="fa fa-money"></i>
        </div>
        <div>
            <span>Hàng nhập vào</span><br>
            <span>200.000.000 VND</span>
        </div>
    </div>
    <div class="item item4">
        <div>
            <i class="fa fa-money"></i>
        </div>
        <div>
            <span>Tiền bán hàng</span><br>
            <span>200.000.000 VND</span>
        </div>
    </div>
</div>
<div class="div-chart">
    <h4><i class="fa fa-bar-chart-o"></i>Thống kê ngày hôm nay</h4>
    <div class="row">
        <div class="col-6">
                <div class="chart-wrapper">
                    <canvas baseChart 
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [colors] = "barChartColors"
                    [plugins]="barChartPlugins"
                    [legend]="barChartLegend"
                    [chartType]="barChartType">
                  </canvas>
                </div>
        </div>
        <div class="col-6">
            <div class="chart-wrapper">
                <canvas baseChart 
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors] = "barChartColors"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
        </div>
    </div>
</div>