<div class="breadcrumb-area mt-30">
  <div class="container">
      <div class="breadcrumb">
          <ul class="d-flex align-items-center">
              <li><a href="index.html">Home</a></li>
              <li class="active"><a href="cart.html">Cart</a></li>
          </ul>
      </div>
  </div>
  <!-- Container End -->
</div>
<div class="cart-main-area ptb-100 ptb-sm-60">
  <div class="container">
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <!-- Form Start -->
              <form action="#">
                  <!-- Table Content Start -->
                  <div class="table-content table-responsive mb-45">
                      <table>
                          <thead>
                              <tr>
                                  <th class="product-thumbnail">Hình ảnh</th>
                                  <th class="product-name">Tên sản phẩm</th>
                                  <th class="product-price">Giá</th>
                                  <th class="product-quantity">Số lượng</th>
                                  <th class="product-subtotal">Tổng giá</th>
                                  <th class="product-remove">Xóa</th>
                              </tr>
                          </thead>
                          <tbody>
                            <ng-container *ngFor="let item of cart.cartDetails" >

                              <tr>
                                  <td class="product-thumbnail">
                                      <a><img src=".../../../assets/images/{{item.images[0].fileName}}" alt="cart-image"></a>
                                  </td>
                                  <td class="product-name"><a >{{item.name}}</a></td>
                                  <td class="product-price"><span class="amount">{{item.newPrice| pipeFormat}}</span></td>
                                  <td class="product-quantity"><input (change)="onchangeQuantity(item.id)" type="number" min="1" max="{{item.quantity}}" name="quatityInput" [(ngModel)]="item.quantityInput"></td>
                                  <td class="product-subtotal">{{item.totalPrice | pipeFormat}}</td>
                                  <td class="product-remove" (click)="removeItem(item.id)"> <a><i class="fa fa-times" aria-hidden="true"></i></a></td>
                              </tr>
                            </ng-container>
                          </tbody>
                      </table>
                  </div>
                  <!-- Table Content Start -->
                  <div class="row">
                     <!-- Cart Button Start -->
                      <div class="col-md-8 col-sm-12">
                          <div class="buttons-cart">
                              <!-- <input type="submit" value="Cập nhật giỏ hàng"> -->
                              <a href="#">Tiếp tục mua hàng</a>
                          </div>
                      </div>
                      <!-- Cart Button Start -->
                      <!-- Cart Totals Start -->
                      <div class="col-md-4 col-sm-12">
                          <div class="cart_totals float-md-right text-md-right">
                              <h2>Tổng cộng</h2>
                              <br>
                              <table class="float-md-right">
                                  <tbody>
                                      <tr class="cart-subtotal">
                                          <th>Tạm tính</th>
                                          <td><span class="amount">{{cart.cartTotal}}₫</span></td>
                                      </tr>
                                      <tr class="order-total">
                                          <th>Tổng cộng</th>
                                          <td>
                                              <strong><span class="amount">{{cart.cartTotal}}₫</span></strong>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                              <div class="wc-proceed-to-checkout">
                                  <button (click)="onSubmit()">Thanh toán</button>
                              </div>
                          </div>
                      </div>
                      <!-- Cart Totals End -->
                  </div>
                  <!-- Row End -->
              </form>
              <!-- Form End -->
          </div>
      </div>
       <!-- Row End -->
  </div>
</div>
