<div class="container">
    <h3>Orders</h3>
    <div class="table-container">
        <table class="table">
            <thead class="thead">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên sản phẩm</th>
                <th scope="col">Ngày</th>
                <th>Tên khách hàng</th>
                <th>Số lượng</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th>Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>123</td>
                <td>Arduino</td>
                <td>12/12/2020</td>
                <td>Nguyễn Mạnh</td>
                <td>13</td>
                <td>200$</td>
                <td>pending...</td>
                <td>
                    <ul>
                        <li><a  type="button" data-toggle="modal" data-target="#modalEdit"><i class="fa fa-w fa-info"></i></a></li>
                        <li><a  type="button"data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i></a></li>
                        <!-- <li><a href="" type="button" class="btn-list"><i class="fa fa-th-list"></i></a></li> -->
                    </ul>
                </td>
              </tr>
              <tr>
                <td scope="row">1</td>
                <td>123</td>
                <td>Arduino</td>
                <td>12/12/2020</td>
                <td>Nguyễn Mạnh</td>
                <td>13</td>
                <td>200$</td>
                <td>Shipping</td>
                <td>
                    <ul>
                        <li><a  type="button" data-toggle="modal" data-target="#modalEdit"><i class="fa fa-w fa-info"></i></a></li>
                        <li><a  type="button"data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i></a></li>
                    </ul>
                </td>
              </tr>
              <tr>
                <td scope="row">1</td>
                <td>123</td>
                <td>Arduino</td>
                <td>12/12/2020</td>
                <td>Nguyễn Mạnh</td>
                <td>13</td>
                <td>200$</td>
                <td>Completed</td>
                <td>
                    <ul>
                        <li><a  type="button" data-toggle="modal" data-target="#modalEdit"><i class="fa fa-w fa-info"></i></a></li>
                        <li><a  type="button"data-toggle="modal" data-target="#modalDelete"><i class="fa fa-trash"></i></a></li>
                    </ul>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>